[github]
	user = mikeverdicchio

[core]
	autocrlf = true

[user]
	email = mikeverdicchio@gmail.com
	name = Mike Verdicchio

[push]
	default = current

[color]
	ui = true
[alias]
	update = !git pull && git submodule update --init --recursive
